* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 3rem;
    background-color: antiquewhite;
}

h1,
h2 {
    color: rgb(38, 11, 11);
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: red;
    color: white;
    border: 1px solid green;
    margin: 0 1rem;
}

.btn:hover {
    background-color: white;
    border-color: red;
    color: black;
}

.btn--alt {
    background-color: transparent;
    color: orangered;
}
.btn--alt:hover{
    background-color: yellow;
}

.card{
    background-color: purple;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgb(38, 11, 11);
    padding: 1rem ; 
    max-width:900px ;
    border: 5px solid green;
}

.action{
    text-align: right;
}

.modal{
    box-shadow: 0 1px 4px rgb(38, 11, 11);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
}